#panel{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
}

.item{
    display: flex;
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
    cursor: pointer;
}

.infos{
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgrey;
    width: 500px;
    height: 270px;
}

p{
    text-align: center;
    padding: 15px;
}

#home-info{
    position: fixed;
    top: 10px;
    margin-left: 200px;
    visibility: hidden;
}

#contact-info, #information-info, #guide-info{
    position: fixed;
    top: 10px;
    margin-left: 200px;
    visibility: hidden;
}

